<div class="jumbotron">
  <h1 class="display-4">Node App NodeJs and MongoDb</h1>
  <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non similique officia, reprehenderit consectetur velit
    aut ut quia sint dolore accusamus temporibus ea autem libero animi repellendus repudiandae saepe? Consectetur,
    modi.Placeat quam magnam saepe voluptas! Possimus harum ratione ab suscipit, nesciunt fugit tempora laborum quia
    veniam. Quo sed eos iure hic voluptas? Quaerat cumque vel distinctio nobis doloremque nesciunt culpa.</p>

  <a href="https://gitlab.com/edgarolivar16" class="btn btn-primary btn-lg"><i class="fab fa-gitlab"></i> Edgar
    Olivar</a>

</div>